*{
    margin: 0;
    padding: 0;
}

.custom input[type=text]{
    width: 100%;
    padding: 5px 40px;

 
}
.custom{
    position: relative;
}
.custom i{
    position: absolute;
    top: 4px;
    left: 0px;
    padding:0 10px ;
   
  
}

.custom input[type=text]{
    color: rgb(38, 20, 119);
 
}